.rich-blue {
    -fx-background-color:#4CC8ed;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 4,3,3,4;
    -fx-border-color: black;
    -fx-border-radius: 4,3,3,4;
    -fx-border-width:1px;
    -fx-padding: 17 30 17 30;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-hgap:10px;
}
.rich-blue:hover{
    -fx-background-color:#85D9F2;
}
.rich-blue:pressed{
    -fx-background-color:#0787ad;
}
#inlogButton{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#background {
	-fx-background-color :  #0081c5;
}