.rich-blue {
    -fx-background-color:#4CC8ed;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 4,3,3,4;
    -fx-border-color: black;
    -fx-border-radius: 4,3,3,4;
    -fx-border-width:1px;
    -fx-padding: 20 30 20 30;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight:bold;
    -fx-hgap:10px;
}
.rich-blue:hover{
    -fx-background-color:#85D9F2;
}
.rich-blue:pressed{
    -fx-background-color:#0787ad;
}
.greyButton{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.greyButton:hover{
    -fx-background-color:#b8bdbf;
}
#background {
	-fx-background-color :  #0081c5;
}
#light-background {
	-fx-background-color : #85D9F2;
	-fx-background-insets: 0,1,2,3;
    -fx-background-radius: 4,3,3,4;
}
#grey-background {
	-fx-background-color : #cacccc;
	-fx-background-insets: 0,1,2,3;
    -fx-background-radius: 4,3,3,4;
    -fx-border-color: black;
    -fx-border-radius: 4,3,3,4;
    -fx-border-width:1px;
}
.separator{
	-fx-background-color : #cacccc;
	-fx-background-radius: 4,3;
}
.verwijderButton{
    -fx-background-color:red;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
        -fx-font-size: 13px;
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}
.verwijderButton:hover{
    -fx-background-color:#8f0110;
}